<!DOCTYPE html>
<html lang="en-us">

<head>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- ================= Discord web embed & description/title & twitter ================== -->

	<meta property="og:locale" content="en_US">
	<meta property="og:title" content="ServerSMP - API" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="<%= url %>" />
	<meta property="og:image" content="<%= url %>/assets/image/banner-smp.png" />
	<meta property="og:description" content="ServerSMP - API, is an api!" />
	<meta name="description" content="ServerSMP - API, is an api!">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="ServerSMP - API">
	<meta name="twitter:description" content="ServerSMP - API, is an api!">
	<meta name="twitter:image" content="<%= url %>/assets/image/banner-smp.png">
	<meta name="theme-color" content="#030303">
	<title>ServerSMP - API</title>

	<!-- ================= Favicon ================== -->

	<!-- Standard -->
	<link rel="shortcut icon" href="/assets/image/icon.png">

	<!-- Retina iPad Touch Icon -->
	<link rel="apple-touch-icon" sizes="144x144" href="/assets/image/icon.png">

	<!-- Retina iPhone Touch Icon -->
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/image/icon.png">

	<!-- Standard iPad Touch Icon -->
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/image/icon.png">

	<!-- Standard iPhone Touch Icon -->
	<link rel="apple-touch-icon" sizes="57x57" href="/assets/image/icon.png">

	<!-- ================= Styles & bootstrap ================== -->

	<link href="https://serversmp.xyz/assets/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://serversmp.xyz/assets/js/bootstrap.bundle.min.js"></script>
	<link href="https://serversmp.xyz/assets/css/style.css" rel="stylesheet">

	<style>
		/* latin-ext */
		@font-face {
			font-family: 'Concert One';
			font-style: normal;
			font-weight: 400;
			font-display: swap;
			src: url("https://serversmp.xyz/assets/font/VEM1Ro9xs5PjtzCu-srDqSTsjP6yuQ.woff2") format('woff2');
			unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
		}

		/* latin */
		@font-face {
			font-family: 'Concert One';
			font-style: normal;
			font-weight: 400;
			font-display: swap;
			src: url("https://serversmp.xyz/assets/font/VEM1Ro9xs5PjtzCu-srDqSTijP4.woff2") format('woff2');
			unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
		}
	</style>

</head>

<!-- ================= Some stuff ================== -->

<div id="nav-bar"></div>

<h6 style="background-color:#f8d7da;color:#721c24;"><span style="font-weight:bold;color:#721c24;">WARNING:</span> This API has a 15 minute rate limiter for every 100 request made per ip for most endpoints.</h6>

<body style="padding-bottom:30px">
	<div class="container-sm">

		<!-- ================= Name & logo ================== -->

		<h1>ServerSMP - API</h1>
		<img src="/assets/image/icon.png" alt="ServerSMP - API" width="180" height="180" ></img>
	
	<!-- ================= Description of ServerSMP - API ================== -->
	
	<h4 style="color:#6c8285;">ServerSMP - API, the open-source api!</h4>

  <!-- ================= Buttons ================== -->

  <a href="https://serversmp.xyz/web/api/docs.html" class="btn btn-primary">Docs</a>
  <a href="https://www.npmjs.com/package/serversmp-api-wrapper" class="btn btn-primary">JS wrapper</a>
  <a href="https://discord.com/api/oauth2/authorize?client_id=894904531442364456&permissions=536870911991&scope=bot%20applications.commands" class="btn btn-primary">Bot</a>

  <!-- ================= APIs ================== -->

  <div class="container-sm style-is-cool">
  <div class="row">
    <div class="col-sm-6">
      <div class="card text-white bg-dark mb-3"class="card text-white bg-dark mb-3">
        <div class="card-body">
          <h5 class="card-title">Avatar</h5>
          <p class="card-text">Get a users avatar in png or jpeg.</p>
          <a href="/api-ratelimit/avatar?user=364105797162237952" class="btn btn-primary">Link</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-white bg-dark mb-3"class="card text-white bg-dark mb-3">
        <div class="card-body">
          <h5 class="card-title">Joke</h5>
          <p class="card-text">Just a random joke api.</p>
          <a href="/api/joke" class="btn btn-primary">Link</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-white bg-dark mb-3"class="card text-white bg-dark mb-3">
        <div class="card-body">
          <h5 class="card-title">Duck Dungeon</h5>
          <p class="card-text">Get data from duck dungeon.</p>
          <a href="/api-ratelimit/duck-dungeon" class="btn btn-primary">Link</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-white bg-dark mb-3"class="card text-white bg-dark mb-3">
        <div class="card-body">
          <h5 class="card-title">OSU</h5>
          <p class="card-text">Get osu data and makes an image for it.</p>
          <a href="/api-ratelimit/osu?user=Prince527" class="btn btn-primary">Link</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-white bg-dark mb-3"class="card text-white bg-dark mb-3">
        <div class="card-body">
          <h5 class="card-title">Circle</h5>
          <p class="card-text">Turn an image in to a circle.</p>
          <a href="/api-ratelimit/circle?url=<%= url %>/api-ratelimit/avatar?user=364105797162237952" class="btn btn-primary">Link</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-white bg-dark mb-3"class="card text-white bg-dark mb-3">
        <div class="card-body">
          <h5 class="card-title">Upscale</h5>
          <p class="card-text">Upscale images.</p>
          <a href="/api-ratelimit/upscale?url=<%= url %>/api-ratelimit/avatar?user=364105797162237952&size=512" class="btn btn-primary">Link</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-white bg-dark mb-3"class="card text-white bg-dark mb-3">
        <div class="card-body">
          <h5 class="card-title">Instagram</h5>
          <p class="card-text">Get a instagram user and make a card.</p>
          <a href="/api-ratelimit/instagram?user=duckdevs" class="btn btn-primary">Link</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-white bg-dark mb-3"class="card text-white bg-dark mb-3">
        <div class="card-body">
          <h5 class="card-title">8ball</h5>
          <p class="card-text">Get a response from 8ball.</p>
          <a href="/api/8ball" class="btn btn-primary">Link</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-white bg-dark mb-3"class="card text-white bg-dark mb-3">
        <div class="card-body">
          <h5 class="card-title">Screenshot</h5>
          <p class="card-text">Take a screenshot of a website.</p>
          <a href="/api/screenshot?url=<%= url %>" class="btn btn-primary">Link</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-white bg-dark mb-3"class="card text-white bg-dark mb-3">
        <div class="card-body">
          <h5 class="card-title">Color</h5>
          <p class="card-text">Get info on color and image.</p>
          <a href="/api-ratelimit/color?color=0000ff" class="btn btn-primary">Link</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-white bg-dark mb-3"class="card text-white bg-dark mb-3">
        <div class="card-body">
          <h5 class="card-title">Rank</h5>
          <p class="card-text">Make a rank card.</p>
          <a href="/api-ratelimit/rank?username=Prince527&discriminator=5270&avatar=<%= url %>/api-ratelimit/avatar?user=364105797162237952&cxp=10&rxp=100&level=1&rank=1&status=online" class="btn btn-primary">Link</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-white bg-dark mb-3"class="card text-white bg-dark mb-3">
        <div class="card-body">
          <h5 class="card-title">Text to image</h5>
          <p class="card-text">Turn text to image.</p>
          <a href="/api-ratelimit/image-text?text=Hello" class="btn btn-primary">Link</a>
          <a href="/api-ratelimit/image-text?text=Hello&color=000fff" class="btn btn-primary">Link</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-white bg-dark mb-3"class="card text-white bg-dark mb-3">
        <div class="card-body">
          <h5 class="card-title">ServerSMP stats json</h5>
          <p class="card-text">The stats but in json.</p>
          <a href="/api-ratelimit/stats" class="btn btn-primary">Link</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-white bg-dark mb-3"class="card text-white bg-dark mb-3">
        <div class="card-body">
          <h5 class="card-title">Codebin</h5>
          <p class="card-text">Bin some code/text.</p>
          <a href="/api/codebin/json?text=A bot for all your needs! May it be moderation, info on things from your server, or even random pictures of ducks. We have it all" class="btn btn-primary">Link</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-white bg-dark mb-3"class="card text-white bg-dark mb-3">
        <div class="card-body">
          <h5 class="card-title">Shorten</h5>
          <p class="card-text">Just a url shortener.</p>
          <a href="/api/shorten/json?url=https://serversmp.xyz/web/project.html&extension=project" class="btn btn-primary">Link</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-white bg-dark mb-3"class="card text-white bg-dark mb-3">
        <div class="card-body">
          <h5 class="card-title">Communism</h5>
          <p class="card-text">Become a communism.</p>
          <a href="/api-ratelimit/communism?image=<%= url %>/api-ratelimit/avatar?user=364105797162237952" class="btn btn-primary">Link</a>
        </div>
      </div>
    </div>
  </div>
  </div>

</div>

<script>
	fetch('https://serversmp.xyz/assets/json/navbar.json')
		.then(function (response) {
			return response.json();
		})
		.then(function (data) {
			appendData(data);
		})
		.catch(function (err) {
			console.log('error: ' + err);
		});

	function appendData(data) {
		document.getElementById("nav-bar").innerHTML = data.navbar;
	}
</script>

</body>
</html>